# Entornos virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución (generados por setup.py)
build/
dist/
*.egg-info/

# Archivos temporales del SO
.DS_Store
Thumbs.db
